:root{
    font-family: sans-serif;
}

html, body{
    margin: 0;
}
body{
    height: 100vh;
}
#content-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}
#main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
#footer-wrapper{    
    background: #EEE;
}

/*header section*/
#header-wrapper > section > a{
    color: black;
    padding: 0 10px;
}

#header-left > a{
    font-size: 13px;
    padding: 0 0 5px 0;
}
#header-right{
    overflow: hidden;
}
#sign-in{
    padding: 10px 15px !important;
    border-radius: 5px;
    background: rgb(97, 97, 245);
    color: white !important;
}

/*main section*/
img{
    max-width: 20rem;
}

#search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 50px;
    padding: 3px 10px;
    margin: 5px;
}

input{
    border: 0;
    width: 30rem;
    height: 2rem;
    font-size: 15px;
}
input:focus{
    border: 0 transparent white;
    outline: none;
}

#search-button{
    margin: 1rem 0.25rem;
    border: 0;
    border-radius: 5px;
    background: #F7F7F7;
    padding: 10px;
}
#language-swap{
    font-size: 13px;
}

/*footer section*/
#upper-footer, #lower-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: #777;
    font-size: 14px;
}
#upper-footer > p{
    margin: 0;
}
#lower-footer > div > a{
    color: #777;
    padding: 10px 11px;
}

/*generic*/
a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
hr{
    margin: 0;
}